body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #022238, #0d3665, #135079, #2798a2);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    overflow: hidden
    ;
  }

  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.navbar a:hover {
    color: #f8cdda;
}
  
h1, h2 {
    text-align: center;
}

.hero {
    background-color: #2f3b48;
    color: rgb(215, 161, 74);
    text-align: center;
    padding: 2em;
    margin-top: 40px;
    margin-left: 18%;
    width: 60%;
    border-radius: 10px;
}
.hero h1 {
    margin: 0;
    font-size: 2.5em;
}
.features {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
    margin-bottom: 2em;
}
.feature {
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    justify-content: space-evenly;
}
.feature h2 {
    margin-top: 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 1px 30px;
    width: 100%;
    margin-top: 2em;
    position: absolute;
    bottom: -1px;
}
