body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg,  #022238, #0d3665, #135079, #2798a2);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: #fff;
}

.container {
    width: 300px;
    padding: 20px;
    background: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    text-align: center;
}

h2, h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

input {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    color: red;
    margin-top: 10px;
}