body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #022238, #0d3665, #135079, #2798a2);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.navbar a:hover {
    color: #3498db;
}

h1, h2 {
    text-align: center;
}

.container {
    text-align: center;
    color: white;
    border-radius: 10px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

button {
    padding: 5px 10px;
    background-color: #a6eac4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3498db;
}

#image {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

#pay-now-container {
    margin-top: 20px;
}

#qrcode-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
